Chapter 2 

Exercise 1  

a) We’ve seen that n = 42 is legal. What about 42 = n?

There is an error message and 42 cannot be assigned to n.

In [2]:
42 = n

SyntaxError: cannot assign to literal (<ipython-input-2-f0c37ed646fc>, line 1)

b) How about x = y = 1?

It seems to work, meaning both variables have been assigned the value 1.

In [3]:
x = y = 1
print(x)
print(y)

1
1

c) In some languages every statement ends with a semi-colon

This does not seem to bother Python, still prints value.

In [13]:
print(x);

1

d) What if you put a period at the end of a statement?

This results in an error message.

In [4]:
print(x).

SyntaxError: invalid syntax (<ipython-input-4-d60a3cc78008>, line 1)

e) In math notation you can multiply x and y like this: x y. What happens if you try that in Python?

This also results in an error message, as xy is not defined.

In [ ]:
print(xy)

Chapter 2 

Question 2

a) The volume of a sphere with radius r is 4/3 π r3. What is the volume of a sphere with radius 5?

The volume of a sphere with a radius of 5 is 523.6

In [71]:
import math

r = 5
V = 4/3 * math.pi * r ** 3

print(V)

523.5987755982989

b) Suppose the cover price of a book is $24.95, but bookstores get a 40 discount. Shipping costs $3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

The total wholesale price for 60 books is $945.45.

In [7]:
n = 60
cost = 24.95 * 0.6 * n + 3 + 0.75 * (n-1)

print(cost)

945.4499999999999

c) If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then 3 miles at tempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast?

I will arrive back for breakfast at 7.30 am.

In [8]:
timetaken = (8.15 + 7.12 * 3 + 8.15) / 100
arrival = 6.52 + timetaken - 0.6 + 1

print(arrival)

7.2966

Chapter 8

Exercise 1

In [18]:
str.islower('Banana')

False

In [19]:
'B' in 'Banana'

True

In [20]:
'Banana'.find('n')

2

Exercise 2

Count the letter 'a' in the word 'banana'

In [21]:
'banana'.count('a')

3

Exercise 3

Create a palindrome of 'banana' with one line of code.
We can also check if it is a palindrome.

In [27]:
'banana'[::-1]

'ananab'

In [62]:
def is_palindrom(word):
    new_word = word[::-1]
    if new_word == word:
        return True
    else:
        return False

is_palindrom('banana')

False

Exercise 4

Check what the functions are achieving (or if they are checking for lowercase letters)
Function 1: This function checks whether ALL letter are lowercase
Function 2: uses Booleans and c in parantheses, returning all cases as 'True' as 'c' is always lowercase
Function 3: Will return false if last letter is uppercase
Function 4: This function seems to work
Function 5: Same problem as function 1, returns false if one letter is not lowercase

In [55]:
def any_lowercase1(s):
    for c in s:
        if c.islower():
            return True
        else:
            return False
        
any_lowercase1('Banana')

False

In [48]:
def any_lowercase2(s):
    for c in s:
        if 'c'.islower():
            return 'True'
        else:
            return 'False'

any_lowercase2('banana')

'True'

In [63]:
def any_lowercase3(s):
    for c in s:
        flag = c.islower()
    return flag

any_lowercase3('Banana')

False

In [65]:
def any_lowercase4(s):
    flag = False
    for c in s:
        flag = flag or c.islower()
    return flag

any_lowercase4('BANANA')

True

In [61]:
def any_lowercase5(s):
    for c in s:
        if not c.islower():
            return False
    return True

any_lowercase5('banana')

True

Exercise 5

Creating a Caesar Cypher

In [85]:
def rotate_letter(letter, x):
    if letter.isupper:
        start = ord('A')
    elif letter.islower:
        start = ord('a')
    else:
        return letter
    
    c = ord(letter) - start
    i = (c + x) % 26 + start
    return chr(i)

def rotate_word(word, x):
    res = ''
    for letter in word:
        res += rotate_letter(letter, x)
    return res

print(rotate_word('SLEEP', 9))

BUNNY